<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="card col-4" style="padding:0;">
        <div class="card-header bg-primary">
          <div><i class="fas fa-user-graduate"></i>Intern</div>
        </div>
        <div class="card-body">
          <p class="card-text">Emplyoee:</p>
          <p class="card-text">Email:</p>
          <p class="card-text">School:</p>
        </div>
      </div>
    </div>
  </body>
</html>
